<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServerDemo2</servlet-name>
        <servlet-class>ServerDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDemo1</servlet-name>
        <servlet-class>LoginDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDemo1</servlet-name>
        <servlet-class>InsertDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowallDemo1</servlet-name>
        <servlet-class>ShowallDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDemo1</servlet-name>
        <servlet-class>SearchDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDemo1</servlet-name>
        <servlet-class>UpdateDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDemo1</servlet-name>
        <servlet-class>DeleteDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUpdateDemo</servlet-name>
        <servlet-class>SUpdateDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDemo1</servlet-name>
        <servlet-class>LogoutDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mymenu1</servlet-name>
        <servlet-class>mymenu1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDemo</servlet-name>
        <servlet-class>LogoutDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDemo2</servlet-name>
        <servlet-class>LogoutDemo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerDemo2</servlet-name>
        <url-pattern>/ServerDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDemo1</servlet-name>
        <url-pattern>/LoginDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDemo1</servlet-name>
        <url-pattern>/InsertDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowallDemo1</servlet-name>
        <url-pattern>/ShowallDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDemo1</servlet-name>
        <url-pattern>/SearchDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDemo1</servlet-name>
        <url-pattern>/UpdateDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDemo1</servlet-name>
        <url-pattern>/DeleteDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUpdateDemo</servlet-name>
        <url-pattern>/SUpdateDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDemo1</servlet-name>
        <url-pattern>/LogoutDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mymenu1</servlet-name>
        <url-pattern>/mymenu1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDemo</servlet-name>
        <url-pattern>/LogoutDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDemo2</servlet-name>
        <url-pattern>/LogoutDemo2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
